.DS_Store
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
/.classpath
/.project
/.settings
project/boot/
project/plugins/project/
project/project
project/target

logs
tmp
.cache
/RUNNING_PID

# idea specific
.idea/*
!.idea/dictionaries

# Metals
.metals/*
.bloop/*
.vscode/*
project/.bloop/*
project/metals.sbt

# Generated Certificates
certs/